html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
}


.container {
    margin: 0 auto;
    max-width: 290px;
    @media (min-width: 1250px) {
        max-width: 1250px;
    }
}

.container-small {
    margin: 0 auto;
    max-width: 290px;
    @media (min-width: 1250px) {
        max-width: 1110px;
    }
}