.life {
    display: flex;
    flex-direction: column;
    .life__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        @media (min-width: 1250px) {
            margin-bottom: 47px;
        }

        h3 {
            font-family: 'Proxima Nova Condensed', sans-serif;
            font-size: 28px;
            padding-left: 5px;
            @media (min-width: 1250px) {
                font-size: 56px;
                padding-left: 0;
            }
            font-weight: 600;
            line-height: 1.2;
            color: var(--black);
        }
    }

    .life__arrows {
        display: none;
        @media (min-width: 1250px) {
            display: flex;
            gap: 20px;
        }
    }

    .life__arrow {
        display: block;
        width: 56px;
        height: 56px;
        background-image: url(../icons/carousel-arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }

    .life__arrow_next {
        transform: rotate(180deg);
    }

    .life__body {
        overflow: hidden;
        position: relative;
        @media (min-width: 1250px) {
            margin-bottom: 13px;
        }
    }

    .life__slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .life__slide {
        min-width: 100%;
        img {
            width: 100%;
            display: block;
        }
    }

    .life__pagination {
        display: none;
        @media (min-width: 1250px) {
            display: flex;
        }
        justify-content: center;
        gap: 8px;
        margin-top: 15px;
        width: 100%;
    
        .life__bar {
            flex-grow: 1;
            height: 6px;
            background-color: #e5e5e5;
            cursor: pointer;
            transition: background-color 0.3s;
    
            &.active {
                background-color: var(--wine-red);
            }
        }
    }
    
}