:root {
    // Базовые цвета
    --white: #FFFFFF;
    --black: #444444;
    --wine-red: #A30C33;
    --wine-red-2: #B01736;
    --border-gray: #D9D9D9;

    // Прозрачные

    // Эффекты

}













